nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navelement {
  color: 
}

.dropbtn {
  font-size: 16px;
  float: left;
  overflow: hidden;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  margin: 0;
  border: 1px solid gray;
}

.dropbtn:hover {
    cursor: pointer;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}