nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dropbtn {
  font-size: 16px;
  float: left;
  overflow: hidden;
  border: none;
  outline: none;
  color: rgb(255, 252, 52);
  padding: 14px 16px;
  font-family: sans-serif;
  margin: 0;
  border: 1px solid gray;
}

.dropbtn:hover {
    cursor: pointer;
}